<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="icon" type="image/ico" href="/public/imgs/weather-icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>Use this site to get your Weather Forecast</p>

        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>
    <div>
        <p>{{> footer}}</p>
    </div>

    <script type="text/javascript" src="/web-server/public/js/app.js"></script>
</body>

</html>